@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wdth,wght@0,50..150,100..900;1,50..150,100..900&display=swap");

/*images*/
.education{
    display: flex;
    gap: 100px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
img{
    width: 600px;
    margin: 100px;
   
}

.heading h1{
    font-size: 300px;
    color: green;
    font-family: "Anybody", sans-serif;
    font-variation-settings: "wdth" 64.16, "slnt" 0, "wght" 490;
    line-height: 0.83em;
    text-align: center; 
    padding-top: 200px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 100px;
    text-align: center;
    
}
